https://host  {
    root * /var/www/{{CONTAINER_NAME}}/public
    file_server

    php_fastcgi @onlyIndex unix//var/www/{{CONTAINER_NAME}}/fpm.sock {
        index index.php
    }

    # Block direct access to any php other than /index.php
    @blockPhp {
        path *.php
        not path /index.php
    }
    respond @blockPhp 404

    # Only allow index.php to be executed by PHP-FPM
    # and all other requests fall back to index.php via Laravel
    @onlyIndex path /index.php

    # Laravel handle all other routes via index.php internally
    try_files {path} /index.php?{query}
}
